<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Bienvenido a la aplicación de productos y carritos</h1>
    <p>Esta es la página de inicio de la aplicación.</p>
</body>
</html>
