<!DOCTYPE html>
<html>
<head>
    <title>{{product.name}}</title>
</head>
<body>
    <h1>{{product.name}}</h1>
    <p>Precio: {{product.price}}</p>
    <p>Descripción: {{product.description}}</p>
</body>
</html>
