<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <ul>
        {{#each products}}
        <li>
            <h3>{{name}}</h3>
            <p>Precio: {{price}}</p>
            <p>Descripción: {{description}}</p>
        </li>
        {{/each}}
    </ul>
</body>
</html>
